.details {
  overflow: hidden;
  position: relative;
}

.details[open]>summary::after {
  content: " -";
}

.details>summary::after {
  content: " +";
}

.drawerlink {
  text-decoration: none;
  color: #001d35;
  align-items: center;
}

.nav {
  display: block;
  height: 100vh;
  width: 230px;
  position: sticky;
  top: 0;
  left: 0;
  border-left: 1px solid #e1e3e1;
  border-radius: 5px;
  transform: translateX(0);
  padding-top: 8px;
  background: #f3f6fc;
}

.navClose {
  display: block;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  transform: translate(-220px);
}

.navlayout {
  margin-inline: 15px;
}

.summary {
  display: block;
  cursor: pointer;
  padding: .5em, .5em, .5em, .7em;
  color: #2b2b2b;
  font-size: calc(15px + 0.5vw);
}

.summary::after {
  position: absolute;
  right: 10px;
}

.buttonslayout {
  display: flex;
  flex-direction: column;
  margin: auto;
  row-gap: 5px;
}