.details {
  overflow: hidden;
  margin-top: 0.5em;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
  border-radius: 3px;
  position: relative;
}

.details[open]>summary::after {
  content: " -";
}

.details>summary::after {
  content: " +";
}

.nav {
  display: block;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  transform: translateX(0);
}

.navClose {
  display: block;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  transform: translate(-220px);
}

.summary {
  display: block;
  cursor: pointer;
  padding: .5em, .5em, .5em, .7em;
  background: #ededed;
  color: #2b2b2b;
  border-radius: 3px 3px 0 0;
  font-size: calc(15px + 0.5vw);
}

.summary::after {
  position: absolute;
  right: 10px;
}

.buttonslayout {
  display: flex;
  flex-direction: column;
  margin: auto;
  row-gap: 5px;
}