.navBarContainer {
  margin-top: 20px;
}

.navlink {
  text-decoration: none;
  color: #001d35;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin: -2px auto 14px;
}

.navlink:focus > .spanlogo {
  background: #c2e7ff;
}

.label {
  text-align: center;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 16px;
  letter-spacing: .1px;
  text-wrap: nowrap;
}

li {
  list-style: none;
}

.spanlogo {
  display: flex;
  border-radius: 16px;
  width: 56px;
  height: 32px;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

.spanlogo:hover {
  background-color: #e5e8ed;
  text-decoration: none;
}

ul {
  padding: 0px;
}