.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../assets/images/pipeliquid.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 544px;
    border-radius: 10px;
}

.hero-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.maincontent {
  margin: 8px 8px 0px 8px;
  width: 100%;
}

.maincontent-theory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maincontent-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.form-intro {
  max-width: 1020px;
}

.form {
  max-width: 1020px;
  margin: 2rem;
  box-shadow: 0 -1.5rem #55B8FF;
}

.form-results {
  margin-block-start: 1rem;
  border: 1px solid #55B8FF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.form-results hr {
  margin-block: 0.3rem;
  color: black;
  opacity: 1;
}

.form-results span {
  align-self: center;
  font-size: 1.5em;
}

.form-results label {
  margin-inline-start: 1rem;
}

input[type="radio"] {
  appearance: none;
  margin-inline-end: 0.3rem;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

input[type="text"] {
  background-color: #f3f6fc;
  border-radius: 5px;
  border: 1px solid gray;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #55B8FF ;
}

input:checked {
  border: 5px solid black;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
}

.radio-label {
  margin-inline-end: 1rem
}

.footer {
  content: "";
  height: 5rem;
  width: 100%;
  background-color: #f3f6fc;
}