.layoutRow {
  display: flex;
  flex-direction: row;
}

.layoutColumn {
  display: flex;
  flex-direction: column;
}

.aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10%;
  min-width: 130px;
}